# Docker
# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker
 
trigger:
- master
 
resources:
- repo: self
 
variables:
  tag: '$(Build.BuildId)'
  imageName: 'seunnuga93/pipelines-flask-docker'
  
stages:
- stage: Build
  displayName: Build image
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        repository: $(imageName)
        dockerfile: '$(Build.SourcesDirectory)/app/Dockerfile'
        tags: |
          $(tag)
    
    - task: Docker@2
      inputs:
        containerRegistry: 'nugadocker'
        repository: $(imageName)
        command: 'push'
 
    - task: CopyFiles@2
      inputs:
        Contents: |
          Contents: |
           **/manifests/deployment.yaml
           **/manifests/service.yaml
        TargetFolder: '$(Build.ArtifactStagingDirectory)'
        
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'
    
    - task: kubectlapply@3
      inputs:
        k8sService: 'nugakube'
        yamlfile: $(Build.ArtifactStagingDirectory)/manifests/deployment.yaml'